/* ThreeD.css */
.three-d-container {
    width: 100%;
    height: 60vh;
    background-color: #072927;
    overflow: hidden;
  }
  
  .three-d-container canvas {
    width: 100%;
    height: 100%;
  }